<%= form_for @podcast, :html => { :class => 'form-horizontal' } do |podcast_form| %>
  <fieldset>
    <div class="control-group">
      <%= podcast_form.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= podcast_form.text_field :title, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <%= podcast_form.label :subtitle, :class => 'control-label' %>
      <div class="controls">
        <%= podcast_form.text_field :subtitle, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <%= podcast_form.label :summary, :class => 'control-label' %>
      <div class="controls">
        <%= podcast_form.text_area :summary, :rows => 4, :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="form-actions">
      <div class="btn-group">
        <%= podcast_form.submit "Create", :class => "btn btn-primary" %>
        <%= link_to "Cancel", podcasts_path, :class => "btn" %>
      </div>
    </div>
  </fieldset>
<% end %>
