<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @podcast.title %>
</p>

<p>
  <b>Pubdate:</b>
  <%= @podcast.pubdate %>
</p>

<p>
  <b>Description:</b>
  <%= @podcast.description %>
</p>


<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>
