<!DOCTYPE html>
<html>
<head>
  <title>Podcaster</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">podcaster</a>
        <ul class="nav">
          <li class="active"><a href="/">home</a></li>
          <li><%= link_to 'shows', shows_path() %></li>
          <li><%= link_to 'podcasts', podcasts_path() %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
